[config]
# URL of the BioBeamerConfig repository (can be a git repo or direct XML URL)
config_repo_url = https://github.com/yourorg/BioBeamerConfig.git
# Path to the XML config file within the repo
xml_file_path = xml/BioBeamerTest.xml
#Path to XSD schema file for validation
xsd_file_path = xml/BioBeamerConfig2.xsd
# Hostname to select from the XML config
host_name = testhost_integration
# Directory for all logs (absolute or relative to launcher root)
log_dir = log

